@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;400;500;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='text'],
textarea {
	@apply bg-transparent border border-blue-300 rounded-md p-2 my-2;
}

label {
	@apply font-raleway tracking-wider;
}

.linkAnimation:before {
	@apply bg-indigo-300;
}

.linkAnimation {
	position: relative;
}

.linkAnimation:before {
	/* background: #fff; */
	content: '';
	position: absolute;
	transition: all 0.3s;
	top: 100%;
	left: 0;
	height: 2px;
	width: 0%;
}
.linkAnimation:hover:before {
	width: 100%;
}

.markdown img {
	width: 100%;
}
